// Grid Setup

$susy: (
  columns: 12,  // The number of columns in your grid
  gutters: 24px/78px, // The size of a gutter, equal to base line-height
  gutter-position: after, // Margins always added after column, requires "last" to be included in span() function for last item
  global-box-sizing: border-box,
  math: fluid
);