/*---------------------------------------------------------
  RESPONSIVE MIXINS
---------------------------------------------------------*/


/// Responsive breakpoint manager.
/// @access public
/// @param {String} $breakpoint - Breakpoint
/// usage: @include media-query(phone-max) {}
@mixin media-query($breakpoint) {
  @if $breakpoint == "phone-narrow" {
    @media (max-width: $phone-narrow-breakpoint-max-width) {
      @content;
    }
  }

  @else if $breakpoint == "phone" {
    @media (max-width: $phone-breakpoint-max-width) {
      @content;
    }
  }

  @else if $breakpoint == "tablet" {
    @media (max-width: $tablet-breakpoint-max-width) {
      @content;
    }
  }

  @else if $breakpoint == "desktop" {
    @media (max-width: $desktop-breakpoint-max-width) {
      @content;
    }
  }
}



/*---------------------------------------------------------
  LAYOUT MIXINS
---------------------------------------------------------*/

/// Vertical align anything!
/// @include vertical-align;
@mixin vertical-align {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}


/// shortcode for absolute positioning
@mixin left-top($left, $top) {
  position: absolute;
  left: $left;
  top: $top;
}
@mixin left-bottom($left, $bottom) {
  position: absolute;
  left: $left;
  bottom: $bottom;
}
@mixin right-top($right, $top) {
  position: absolute;
  right: $right;
  top: $top;
}
@mixin right-bottom($right, $bottom) {
  position: absolute;
  right: $right;
  bottom: $bottom;
}
@mixin all($left, $top, $right, $bottom) {
  position: absolute;
  left: $left;
  top: $top;
  right: $right;
  bottom: $bottom;
}



//  fontello - should only be used for button icons or anywhere a pseudo needs to be used, use SVG for all icons otherwise

@mixin fontello(){
  font-family: $icon_font;
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
