/* All Variables should be declared here which makes it easier to update if something changes globally */

//Responsive variables - see breakpoint manager mixin
$phone-narrow-breakpoint-max-width: 34em;
$phone-breakpoint-max-width: 47.99em; // makes sure this doesn't apply to ipad portrait
$tablet-breakpoint-max-width: 62em;
$desktop-breakpoint-max-width: 75em;

//E.g Colour variables - split background colours and text colours
$red: #a71930;
$grey: #464646;

$grey-body-text: #5f5f5f;

//set gutter width for susy
$gutter: 24px;


//E.g Font variables
$global-font: 'font_name';
$global-font: 'font_name_bold';
$fallback: Arial, sans-serif;

//E.g Category colours sample array - see sample mixin category-colour()
$colours: (yellow #f7941d) (blue #00aeef) (orange #f26c4f) (green #7cc576) (pink #f26d7d) (purple #a864a8);
