/* Declare font face variations here - make sure to update the source url with the theme name, font name and install font files in /assets/fonts/ */

@font-face {
  font-family: 'font_name';
  src: url('/wp-content/themes/AER/assets/fonts/font_name.eot');
  src: url('/wp-content/themes/AER/assets/fonts/font_name.eot?#iefix') format('embedded-opentype'),
       url('/wp-content/themes/AER/assets/fonts/font_name.woff') format('woff'),
       url('/wp-content/themes/AER/assets/fonts/font_name.ttf') format('truetype'),
       url('/wp-content/themes/AER/assets/fonts/font_name.svg#font_name') format('svg');
  font-weight: normal;
  font-style: normal;
}


/* Declare site wide typography style here */

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.4;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 18px;
}



/* SVG icon sprite */

.svg-sprite {
  display: none;
}

svg path {
  fill: inherit !important;
}

.svg-icon {
  display: inline-block; /* Flow with text content */
  fill: currentColor; /* Inherit the parent text color */
  height: 1.2em; /* Use the parent font-size for width and height */
  width: 1.2em; /* Use the parent font-size for width and height */
  vertical-align: middle; /* Vertically align icon with adjacent text */
  position: relative; /* Align nicely with capital letters */
  top: -.0625em;
}
