.full-width-container {
  width: 100%;
}

.grid-content-container {
  @include container();

  @include media-query('tablet') {
    @include container(960px);
  }

  @include media-query('desktop') {
    @include container(1200px);
  }
}